darktable
calibre
dconf
foot/colors/default.ini
git
github-copilot
!gnupg/gpg-agent.conf
gnupg/*
gtk-3.0/assets
inkscape
ipython/profile_default/history.sqlite
ipython/profile_default/startup/README
kdeconnect
libaccounts-glib
libreoffice/4
nnn/bookmarks
nnn/sessions
nvim
password-store
pulse
qimgv/savedState.conf
session
sway
systemd/user/default.target.wants
systemd/user/graphical-session.target.wants
systemd/user/timers.target.wants
systemd/user/sockets.target.wants
zathura/colors/default
zsh
Docker Desktop
gtk-3.0/bookmarks
syncthing
qBittorrent
unity3d
vlc
bluedevilglobalrc
krdp-serverrc
krdpserverrc
gtkrc
gtkrc-2.0
baloofilerc
Trolltech.conf
kde.org/UserFeedback.org.kde.plasmashell.conf
KDE/UserFeedback.org.kde.plasma-welcome.conf
plasma-welcomerc
kwinoutputconfig.json
kcminputrc
kconf_updaterc
drkonqirc
systemmonitorrc
kactivitymanagerd-statsrc
plasmashellrc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
KDE/UserFeedback.conf
dolphinrc
kde.org/UserFeedback.org.kde.dolphin.conf
kactivitymanagerd-switcher
kfontinstuirc
ksmserverrc
kwinrulesrc
QtProject.conf
klipperrc
nnn/.selection
flameshot
okularrc
ktrashrc
kservicemenurc
kiorc
baloofileinformationrc
go/telemetry/local
pavucontrol.ini
xournalpp/metadata
pdfarranger/config.ini
rclone/rclone.conf
jupyter/*
!jupyter/jupyter_server_config.py
aichat/config.yaml
