mako/colors/default
tofi/colors/default
foot/colors/default.ini
qutebrowser/colors/default.py
qutebrowser/stylesheets/default.css
zathura/colors/default
calibre
darktable
dconf
git
github-copilot
gnupg
inkscape
jupyter
libreoffice/4
nnn/bookmarks
nnn/sessions
nvim
password-store
pulse
qimgv/savedState.conf
qutebrowser/qsettings
qutebrowser/autoconfig.yml
sway
systemd/user/default.target.wants
systemd/user/graphical-session.target.wants
systemd/user/timers.target.wants
systemd/user/sockets.target.wants
transmission-daemon
zsh
user-dirs.locale
pavucontrol.ini
QtProject.conf
qutebrowser/bookmarks/urls
systemd/user/git-maintenance@.service
systemd/user/git-maintenance@daily.timer
systemd/user/git-maintenance@hourly.timer
systemd/user/git-maintenance@weekly.timer
qutebrowser/quickmarks
