
a:-webkit-any-link,
.blob-num,
body,
html,
html body,
html body input, html body textarea,
#article .override,
#content,
input,
textarea,
r:hover,
blockquote,
pre,
header,
.w3-white, .w3-hover-white:hover,
.bg-gray,
html[dir] ._3auIg ,
html[dir] ._1GX8_,
html[dir] ._1FKgS::after,
#app,
.add_background_color_gray,
.answer-votes,
.vote .star-off , .vote .star-on , .vote .vote-down-off, .vote .vote-up-off,
.mainpage-transfer .mainpage-transfer-to-team,
.mainpage-transfer .mainpage-transfer-from-team,
.vote,
.post-signature span.relativetime,
.post-signature.owner .user-info .user-details a,
.post-signature a,
.post-signature,
a.comment-user.owner,
.post-tag::before,
.post-tag,
#tabs a.youarehere,
#tabs a,
.ad502-room,
#h-chat-link,
.label-key b,
.label-key,
.newuser,
#sidebar .question-hyperlink,
#sidebar .module.community-bulletin,
#sidebar .community-bulletin .bulletin-item-content a,
#hot-network-questions h4 a.js-gps-track,
#hot-network-questions a,
.unanswered .mini-counts span,
.answered .mini-counts span,
div.answered-accepted .mini-counts,
div.answered-accepted,
.tagged-interesting,
.new-post-activity,
#hlogo a,
#question-header .question-hyperlink,
#header,
.topbar-dialog .site-link,
.topbar-dialog .header a,
.topbar-dialog .header,
.topbar-dialog .current-site-container,
.topbar-dialog,
.so-header .navigation .-list .-item :hover,
.so-header a,
.so-header,
.top-footer-links a,
#footer #footer-sites th,
#footer,
pre code .typ,
pre code .tag,
pre code .str,
pre code .pln,
pre code .pun,
pre code .lit,
pre code .kwd,
pre code .com,
pre code .atv,
pre code,
.question-status,
.post-menu a,
.page-numbers.current,
.page-numbers,
.comments-link,
.bottom-notice,
.bounty-indicator,
.bounty-indicator-tab,
hr,
tr.external,
ul.makeMenu,
.listHier th,
.instruction,
.sakaiCopyrightInfo,
.navPanel,
.navIntraTool,
#toolMenu li,
.morelink .nub,
#header-bottom-right,
.tabmenu li a,
.sidebox .spacer,
.side,
.side .usertext-body .md,
.titlebox form.toggle,
.titlebox,
.listing-chooser li a .description,
.listing-chooser li a,
.listing-chooser li.selected,
.listing-chooser li,
.listing-chooser .grippy:after,
.listing-chooser .grippy,
.listing-chooser .intro,
.listing-chooser,
.comments-page .panestack-title,
.commentarea .menuarea,
.commentarea > .usertext,
body.comment,
div.md,
.thing .title,
#sr-header-area #sr-more-link,
#sr-header-area .srdrop .selected,
#sr-header-area,
.post pre.mode-line,
.post div.entry kbd,
.post div.entry blockquote,
.post div.entry,
.post h2 a,
.post h2,
.post *,
.post,
div#page div#header,
#hnmain > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1),
a.filter-item:hover, .filter-item:hover, a.tabnav-tab, .tabnav-tab, .title a:visited,
html[dir] ._1iFv8, html[dir] ._1kdBg, html[dir] ._1QUKR,
.commentarea .comment .comment, .commentarea .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.comment .comment, .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .content .comment .comment,
.res-commentBoxes .content .comment .comment .comment .comment,
.res-commentBoxes .content .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .content .comment .comment .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .content .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
body .comment, body .comment .comment .comment, body .comment .comment .comment .comment .comment,
body .comment .comment .comment .comment .comment .comment .comment,
body .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .content .comment, .res-commentBoxes .content .comment .comment .comment,
.res-commentBoxes .content .comment .comment .comment .comment .comment,
.res-commentBoxes .content .comment .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .content .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment, .commentarea .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment ,
.commentarea .comment, .commentarea .comment .comment .comment, .commentarea .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
table.wikitable, table, table.wikitable > * > tr > th, h1, h2, h3, h4, h5, h6,
a.filter-item, .filter-item, a.filter-item.selected,
.filter-item.selected, a.label, a.storylink, .title a, a.tabnav-tab.selected, .tabnav-tab.selected ,
.navbox,
div.vectorTabs li.selected, div.vectorTabs li.selected span,
div.vectorTabs span,
div.vectorTabs ul li,
div.vectorTabs,
#mw-panel, #p-logo,
#mw-head,
#mw-head div.portal, #mw-panel div.portal,
#mw-head, #mw-panel,
.Cat3HL,
.Cat2HL,
.Cat1HL,
.BigQuote,
cite,
#appbar,
.menu-item:hover, .menu-item.selected, .menu,
.table-list tr:hover, .table-list li:hover,
.table-list tr, .table-list li,
.state,
.markdown-body, .markdown-body *, .markdown-body table *,
.merge-message, .merge-status-item,
.diffbar,
.pagination a:hover, .pagination a, .pagination .gap,
.pagination .disabled:hover, .pagination .disabled,
.pagination .current,
.outline-box-highlighted,
.org-name,
.orghead,
.type-icon-state-open,
.type-icon-state-merged, .type-icon-state-closed, .octicon-repo,
.notifications-list li, .notifications-list a,
.js-site-search-form input, .js-chromeless-input-container,
.Box-row--focus-gray.navigation-focus,
.site-footer-links *, .pagehead-tabs-item.selected,
.reponav-item:visited, .pagehead-tabs-item:visited,
.reponav-item, .pagehead-tabs-item,
.lang, .Header a, .Header, .entry-title a,
.btn-primary, .issues-listing .btn-primary,
.btn:hover, .btn,
.files tbody tr:hover *,
.files tbody tr:nth-child(odd),
.files tbody tr:nth-child(even),
.files tbody tr,
.files *,
.dropdown-menu,
.dropdown-item:hover,
.dropdown-item,
.dropdown-divider,
.donut-chart > .pending,
.timeline-comment-wrapper,
.timeline-comment-header,
.timeline-comment,
.new-discussion-timeline .closed-banner,
.drag-and-drop,
.discussion-timeline-actions,
.discussion-timeline:before,
.discussion-item-entity, .discussion-item .renamed-was, .discussion-item .renamed-is,
.discussion-item-icon.octicon,
.discussion-item-icon,
.discussion-item-closed .discussion-item-icon,
.conversation-list-heading .inner,
.comment-form-head.tabnav,
.blankslate,
.copyable-terminal,
.completeness-indicator-problem,
.completeness-indicator-success,
.table-list-cell .commit-title,
.commit-meta.commit-author-section,
.commit.table-list-item,
.commit-desc pre,
.full-commit *,
.full-commit,
.commits-listing:before,
.commit-meta,
div.commit-branches *, div.commit.full-commit p.commit-title *, qul.branches-list *,
div.commit-branches, div.commit.full-commit p.commit-title, qul.branches-list,
.commit-tease-contributors,
.commit-branches * *, .commit-tease *, .commit-title *,
.commit-branches *, .commit-tease, .commit-title,
.commit-ref .user, code.commit-sha .user,
.commit-ref, code.commit-sha,
.commit-meta .sha-block .sha,
.commit-meta .sha-block,
.commit-meta,
.commit-author-section,
.commit-author,
.commit *, .commit-meta *, .commit-icon .octicon *, .commit-group-title .octicon-git-commit *,
.commit, .commit-meta, .commit-icon .octicon, .commit-group-title .octicon-git-commit,
.capped-list tr:nth-child(2n),
.capped-list th,
.capped-card-content,
.capped-card h3 a,
.capped-card h3,
.build-status-item .build-status-details,
.build-status-item,
.signed-commit-header,
.select-menu-tabs a.selected, .select-menu-tab-nav.selected,
.js-select-menu-tab,
.select-menu-filters,
.State--green,
.State--red,
.State, .State:visited,
.more-branches, .branch-group-heading, .branch-infobar, .branch-name,
.branch-a-b-count .meter,
.text-shadow-light, .branch-group-name, .branch-summary,
.branch-action-state-dirty .branch-action-icon,
.branch-action-state-unstable .branch-action-icon,
.branch-action-state-unknown .branch-action-icon,
.branch-action-state-clean .branch-action-icon,
.branch-action-body div,
.branch-action-body,
.boxed-group-inner,
.more-repos,
.boxed-group > h3,
.boxed-group article,
.boxed-group *,
.border-bottom, .border-top,
.pl-md,
.pl-mi1,
.pl-v,
.pl-smi,
.pl-s,
.pl-pds,
.pl-k,
.pl-en,
.pl-e,
.pl-c1,
.pl-c,
.form-control,
.file,
.avatar, .timeline-comment-avatar,
.text-diff-deleted,
.text-diff-added,
.text-emphasized,
.stats-switcher-wrapper .numbers-summary li a,
.stats-switcher-wrapper,
.scope-badge,
.social-count,
.simple-box,
.progress-bar,
.new-user-avatar-cta,
.issues-listing a,
.issue-meta,
.ellipsis-expander,
.hidden-text-expander a,
.gh-header-number,
.flash,
.filter-bar,
.file-wrap *,
.file-wrap,
.file-info-divider,
.file-history-tease-header,
.file-history-tease .author a,
.file-history-tease .participation a,
.file-history-tease .participation .quickstat strong,
.file-history-tease .participation,
.file-header,
.diffstat-bar,
.counter,
.contrib-number,
.text-gray-dark,
.comment-reactions .user-has-reacted,
button.ajax-pagination-btn:hover,
button.ajax-pagination-btn,
.breadcrumb strong.final-path,
.border,
.bg-white,
.news .alert .pull-info,
.result--sep--hr:before,
.btn--top:hover,
.btn--top,
.result__snippet b,
.result__snippet,
.result.highlight,
.about-info-box__heading,
.module__text,
.tile--c,
.tile--info__expand,
.tile--info,
.zci, .search--header,
.site-wrapper > #header_wrapper > #header,
.site-wrapper > #header_wrapper,
.search__autocomplete > .acp-wrap strong,
.search__autocomplete > .acp-wrap > .acp--highlight,
.textarea-wrapper,
.post-actions, .search--adv, .search__autocomplete > .acp-wrap,
#list-area, .topic-list, .topic-body, .table *, #header *, .dropdown *, .dropdownmenu *,
.rclock.running, .rclock, .time,
.prettyprint, .result,
a, .files-grid-view.fm *,
.bg-gray-light,
.link-gray,
.text-gray {
	color:            var(--fg) !important;
	background:       transparent !important;
	background-color: var(--bg) !important;
	background-image: transparent !important;
	text-shadow:      none !important;
	box-shadow:       none !important;
	border-color:     var(--brbg) !important;
}

.cdk-overlay-container, unblu-floating-app {
	display: none !important;
	z-index: 0 !important;
	width: 0% !important;
	color:            var(--fg) !important;
	background:       transparent !important;
	background-color: var(--bg) !important;
	background-image: transparent !important;
	text-shadow:      none !important;
	box-shadow:       none !important;
	border-color:     var(--brbg) !important;
}

.nd {
	opacity: 0 !important;
}

.RegularArticleLayout__header___A8_rVJ {
	z-index: 0 !important;
	filter: opacity(0%) !important;
	background-image: none !important;
	background:       transparent !important;
	background-color: transparent !important;
	color:            var(--fg) !important;
}

.style-scope, .ytd-banner-promo-renderer-logo-with-padding,
.vlist, .katex * {
	background-image: none !important;
	background:       transparent !important;
	background-color: transparent !important;
	color:            var(--fg) !important;
}

img, .tw-c-background-base, .tw-absolute, .tw-full-height, .tw-full-width,
.resize-detector, .tw-hide, .scrollable-area, .scrollable-area *, .tw-flex,
.mediawiki *, .mw-body, element.style, video, * .video-player *,
* .video-wrapper *, * .app-wrapper-web *,* .html5-video-player *,
* .webp-animation *, .player-overlay, .expando,* .fVNcyG *, .media-embed,
.embedly-embed, .media *, .iframe *, .player * {
	background-image: none !important;
	background:       transparent !important;
	background-color: transparent !important;
	color:            var(--fg) !important;
}

.ytp-caption-segment {
	background-color: var(--brbg) !important;
	filter: opacity(80%) !important;
}

yt-interaction.extended, yt-interaction.extended *, .side,
body.with-listing-chooser .footer-parent, body.with-listing-chooser #header .tabmenu,
div.listing-chooser, .link.promotedlink, .rank, .midcol *, .score *,
.arrow.up.login-required, .arrow.down.login-required, .linkinfo .score,
.linkinfo .upvotes, .linkinfo .downvotes, #header-bottom-right .user b,
span.score, .GHDvEf, .eFM0qc, .midcol *, .titlebox > .karma::before,
.titlebox > .karma {
	display:    none !important;
	visibility: hidden !important;
	width:      0px !important;
	height:     0px !important;
	font-size:  0px !important;
	color:      transparent !important;
}

.iNLw3, ._2CBTu, ._1X3l0 {
	transform: none !important;
}

:root {
	--app-background-stripe: var(--bg) !important;
	--panel-header-background: var(--bg) !important;
}

body * {
	background-color: var(--bg) !important;
}

* *, * {
	color:            var(--fg) !important;
	background:       transparent !important;
	background-color: var(--bg) !important;
	background-image: transparent !important;
	text-shadow:      none !important;
	box-shadow:       none !important;
	border-color:     var(--brbg) !important;
}

