
[Unit]
Description=Jupyter Lab

[Service]
Type=simple
ExecStart=/usr/bin/jupyter lab --autoreload
WorkingDirectory=~
Restart=always

[Install]
WantedBy=graphical-session.target

