[Unit]
Description=Virtual keyboard
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/wvkbd-mobintl -H 320 -L 240 --fn 'Fira Mono 20' --hidden -l full,special --landscape-layers landscape,special

[Install]
WantedBy=graphical-session.target

